
<div class="whole-calendar">
    <div id="current-week" class="current-week">
        <div id="sun" class="stackedContainer">
            <div class="media"></div>
            <label class="title">Sunday</label>
            <div class="meals"></div>
        </div>
        <div id="mon" class="stackedContainer">
            <div class="media"></div>
            <label class="title">Monday</label>
            <div class="meals"></div>
        </div>
        <div id="tues" class="stackedContainer">
            <div class="media"></div>
            <label class="title">Tuesday</label>
            <div class="meals"></div>
        </div>
        <div id="wed" class="stackedContainer">
            <div class="media"></div>
            <label class="title">Wednesday</label>
            <div class="meals"></div>
        </div>
        <div id="thur" class="stackedContainer">
            <div class="media"></div>
            <label class="title">Thursday</label>
            <div class="meals"></div>
        </div>
        <div id="fri" class="stackedContainer">
            <div class="media"></div>
            <label class="title">Friday</label>
            <div class="meals"></div>
        </div>
        <div id="sat" class="stackedContainer">
            <div class="media"></div>
            <label class="title">Saturday</label>
            <div class="meals"></div>
        </div>
    </div>
</div>
