<div class="card-w-header">
        <h1 id="card-banner">Add New Calendar!</h1>
        <form id="new-calendar" method="post" class="card-form">
            <ul id="errors" class="errorContainer">
            </ul>
            <p class="description">Enter Calendar ID for shared calendars</p>
            <input id="calendar" 
                name="calendar" 
                type="text" 
                autocomplete="off"/>
            <div>
                <button type="submit" class="btn">Add</button>
            </div>
        </form>
</div>