<div class="card-w-header">
    <h1>Goal</h1>
    <h2>Want to make meal prep and grocery easier!</h2>
    <p></p>
    <h2>Join now !!</h2>
</div>

<div class="card-w-header">
    <h1>Save Recipes</h1>
    <h2>Help add recipes to our expanding database and browse what others are cooking!</h2>
</div>

<div class="card-w-header">
    <h1>Meal Calendar</h1>
    <h2>You can plan out weeks ahead. You can have as many calendars as you want and share
        calendars with roommates or significant others</h2>
</div>

<div class="card-w-header">
    <h1>Coming soon!</h1>
    <ul>
        <li>After planning out your weekly meals, aggregate all ingredients into one simple shopping list</li>
        <li>When it comes to cooking, 'Cooking' mode makes it easier to follow along the recipes</li>
        <li>Add your own recipes and share with others!</li>
    </ul>
</div>