<div class="card-w-header">
        <h1>Select Date</h1>
        <form id="add-to-calendar" method="post" class="card-form">
            <ul id="errors" class="errorContainer">
            </ul>
            {{calendar}}
            <div class="section">
                <label>Select Calendar</label>
                <select name="calendarID">
                    {{calendarOptions}}
                </select>
            </div>
            <div class="section">
                <label>Select Meal of Day</label>
                <input id="meal" type="hidden" name="meal" value=""/>
                <button class='btn btn-cancel meal' type='button'>Breakfast</button>
                <button class='btn btn-cancel meal' type='button'>Lunch</button>
                <button class='btn btn-cancel meal' type='button'>Dinner</button>
                <button class='btn btn-cancel meal' type='button'>Snacks</button>
            </div>
            
            <div>
                <div class="btn-container">
                        <button type="button" 
                            class="btn btn-cancel" 
                            onclick="goBack()">Go Back</button> 
                        <button class="btn" type="submit">Add</a>
                </div>
            </div>
        </form>
</div>