<div class="card-w-header fullWidth">
        <h1>{{name}}</h1>
        <div class="sub-title">
            <a href="{{url}}">Original Link</a>
            <h3> Servings: {{servings}}</h3>
        </div>
        
        <div class="stackedContainer">
            <h3 class="long-form-header">Ingredients</h3>
            <ul class="spaced-list long-text">
                {{ingredients}}
            </ul>
        </div>
        <div class="stackedContainer">
            <h3 class="long-form-header">Steps</h3>
            <ul class="spaced-list long-text">
                {{steps}}
            </ul>
        </div>
        <div>
            <a class="btn" href="/recipes/addToCalendar/{{recipeID}}">Add to Calendar</a>
        </div>
        <div class="btn-container">
            <button type="button" 
                class="btn btn-cancel" 
                onclick="goBack()">Go Back</button> 
            <a href="/recipes/cook/{{recipeID}}" class="btn" type="submit">Cook</a>
        </div>
</div>