
<div class="card-w-header">
    <h1 id="card-header">Sign Up!</h1>
    <form id="sign-up-form" method="post" class="card-form">
        <ul id="errors" class="errorContainer"></ul>
        <label id="fname-label">First Name</label>
        <input id="fname" 
            name="fname" 
            type="text"
            autocomplete="off"/>
        <label id="lname-label">Last Name</label>
        <input id="lname" 
            name="lname" 
            type="text"
            autocomplete="off" />
        <label id="email-label">Email</label>
        <input id="email" 
            name="email" 
            type="email"
            autocomplete="off"/>
        <label id="password-label">Password</label>
        <input id="password" 
            name="password" 
            type="password"/>
        <label id="confirmPW-label">Confirm Password</label>
        <input id="confirmPW" 
            type="password"/>
        <div>
            <a class="btn btn-cancel" href="/">Cancel</a>
            <button type="submit" class="btn">Submit</button>
             
        </div>
        <div>
            <a href="/signIn" >Already a member?</a>
        </div>
        
    </form>
</div>